<!DOCTYPE html>
<html>
<head>
    <title>Лабораторная работа 3</title>
</head>
<body>
    <h1>Формы, cookie</h1>
    
    <div>
        Привет, 
        {% if name_color %}
            <span style="color: {{ name_color }}">{{ name }}</span>
        {% else %}
            {{ name }}
        {% endif %}
        !
    </div>
    
    <div>Возраст: {{ age }}</div>
    
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/del_cookie">Удалить куки</a></li>
        <li><a href="/lab3/form1">Форма пользователя</a></li>
        <li><a href="/lab3/order">Заказ напитка</a></li>
        <li><a href="/lab3/settings">Настройки стилей</a></li>
        <li><a href="/lab3/ticket">Железнодорожный билет</a></li>
        <li><a href="/lab3/clear_settings">Очистить настройки стилей</a></li>
    </ol>
</body>
</html>