{% extends "rgz/base.html" %}
{% block title %}Оформление заказа{% endblock %}
{% block content %}

<h2>Подтверждение заказа</h2>

<table class="table">
    <tr>
        <th>Товар</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Сумма</th>
    </tr>

    {% for i in items %}
    <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.price }} ₽</td>
        <td>{{ i.quantity }}</td>
        <td>{{ i.price * i.quantity }} ₽</td>
    </tr>
    {% endfor %}
</table>

<div class="total-box">
    Итого: {{ total }} ₽
</div>

<form method="post">
    <button class="button" style="margin-top:20px;">Подтвердить покупку</button>
</form>

{% endblock %}

